<!doctype html>
<html>
<body>

<h1>Hours for origin:'{{origin}}', target:{{target}}</h1>

<table border=1>

<thead>
<th>
  hour
</th>
<th>
  count
</th>
<th>
  success rate
</th>
<th>
  min rtt
</th>
<th>
  avg rtt
</th>
<th>
  max rtt
</th>
<th>
  action
</th>
</thead>

<tbody>
{% for hour in data %}
<tr>

  <td>
    {{hour}}
  </td>

  <td>
    {{data[hour].count}}
  </td>

  <td>
    {{data[hour].success_rate}}
  </td>

  <td>
    {{data[hour].min_rtt}}
  </td>

  <td>
    {{data[hour].avg_rtt}}
  </td>

  <td>
    {{data[hour].max_rtt}}
  </td>

  <td>
    <a href='/show_hour/{{origin}}/{{target}}/{{data[hour].hour}}'>LIST pings</a>
  </td>

</tr>
{% endfor %}
</tbody>
</table>

<p/>hours:<br/>
{{hours}}

<p/>data:<br/>
{{data}}

</body>
</html>
