<!doctype html>
<html>
<body>

<h1>Targets for origin:'{{origin}}'</h1>

<table border="1">

{% for target in targets %}

<tr>

<td>
{{target.target}}
</td>

<td>
<a href="{{base}}/pings?origin={{origin}}&target={{target.target}}">pings</a>
</td>

<td>
<a href="{{base}}/minutes?origin={{origin}}&target={{target.target}}">minutes</a>
</td>

<td>
<a href="{{base}}/hours?origin={{origin}}&target={{target.target}}">hours</a>
</td>

<td>
<a href="/list_minutes/{{origin}}/{{target.target}}">LIST minutes</a>
</td>

<td>
<a href="/list_hours/{{origin}}/{{target.target}}">LIST hours</a>
</td>

</tr>

{% endfor %}

</table>

<p/>

{{targets}}

</body>
</html>
